<div style="text-align: center;">
    <label> Id du pokemon : 
		<input type="text" [(ngModel)]="id">
    </label>
</div>
<br>
<div style="text-align: center;">
    <label> Nom du pokemon : 
		<input type="text" [(ngModel)]="filterPok">
    </label>
</div>
<br>
<div style="text-align: center;">
    <label>Choix pokemon : 
        <select [(ngModel)]="choixPoke">
            <option [value] ="pokemon.name" *ngFor="let pokemon of ( pokemons?.results | filterPokemonPipe:'name' :filterPok)">
                {{pokemon.name}}
            </option>
        </select>
    </label>
    <button (click) = "SelectedPoke()" > GO ! </button>
</div>
<div style="text-align: center;">
    <p><b>{{message}}</b></p>
</div>