<div class="container">
  <div class="infoBase">
    <div>
      <mat-form-field>
        <label>
          <input [(ngModel)]="id" matInput placeholder="Id du Pokemon">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <label>
          <input [(ngModel)]="filterPok.name" matInput placeholder="Nom du Pokemon">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select [(ngModel)]="choixPoke" placeholder="Choix Pokemon">
          <mat-option *ngFor="let pokemonChoix of pokemons?.results | filterPokemonPipe:filterPok"
                      [value]="pokemonChoix">{{pokemonChoix.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button (click)="getOnePokemon(choixPoke)" color="primary" mat-raised-button> GO ! </button>
    </div>
  </div>
    <div class="pokemonDetail">
      <app-pokemon-detail [pokemon]="choixPoke"></app-pokemon-detail>
    </div>
    <br>
    <div>
      <p><b>{{message}}</b></p>
    </div>
</div>



