<div>
    <label>Nom : {{pokemon.name}}</label>
    <br>
    <label>ID : {{pokemon.id}}</label>
    <br>
</div>
<div>
  <img alt="Photo du pokémon" mat-card-image src="{{pokemon?.sprites?.front_default}}"><p class="pokeimage"><b>Normal</b></p>
  <img alt="Photo du pokémon" mat-card-image src="{{pokemon?.sprites?.front_shiny}}"><p class="pokeimage"><b>Shiny</b></p>
</div>
<div>
  <mat-card-content>
    <mat-card-actions>
      <mat-label>Poids : {{pokemon.weight}} kg</mat-label>
      <br>
      <mat-label>Taille : {{pokemon.height}} cm</mat-label>
      <br>
    </mat-card-actions>
  </mat-card-content>
</div>
